div .gmnoprint{
  right: 0;
}
.gm-control-active, .gm-svpc{
  display: none;
}
.popup-content{
  color: red;
}
#map{
  background-color: #d6d6d6;
  width: 1110px;
  height: 500px;
}

.map-section{
  margin: 0 auto;
  padding: 80px 60px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title{
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.wrapper-header{
  background-color: #333333;
  margin: 0 auto 60px;
}


.wrapper-dropdown {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px 15px;


  background: #fff;
  border-left: 5px solid grey;
  cursor: pointer;
  outline: none;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: grey transparent;
}

.wrapper-dropdown .dropdown {
  padding: 0;
  position: absolute;
  top: 100%;
  left: -5px;
  right: 0;

  background: white;
  transition: all 0.3s ease-out;
  list-style: none;

  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #333;
  border-left: 5px solid;
  padding: 10px;
  transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li:nth-child(1) a {
  border-left-color: #00ACED;
}

.wrapper-dropdown .dropdown li:nth-child(2) a {
  border-left-color: #4183C4;
}

.wrapper-dropdown .dropdown li:nth-child(3) a {
  border-left-color: #3B5998;
}

.wrapper-dropdown .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown .dropdown li:hover a {
  color: grey;
}

.wrapper-dropdown.active:after {
  border-width: 0 6px 6px 6px;
}

.wrapper-dropdown.active .dropdown {
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
}